<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>About Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css">
    <script src="main.js"></script>
</head>
<body>
    <h1>About Page</h1>
    <p>This is the about page. I built this website after taking Nick's course.</p>

    <p>If you would like to go home, click <a href="{% url 'home' %}">here</a>.</p>
</body>
</html>